@import './config.scss';
.fixed_navigation {
  z-index: 9999;
  width: 100%;
  background-color: #000;
}

.main_navigation {
  width: 100%;
  height: 60px;
  a {
    color: $white;
    text-decoration: none;
  }
}
